header {
  width: 90%;
  background-color: #c3e6cb;
  margin: 0 auto;
}

.container {
  width: 90%;
  height: 90%;
  background-color: #c3e6cb;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.smallImage {
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  margin: 20px 50px 20px 50px;
  transition: all 1s ease-out;
  overflow: hidden;
}

.smallImage:hover {
  transform: scale(1.1);
}
