header {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.smallImage {
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  margin: 20px 50px 20px 50px;
  transition: all 1s ease-out;
  overflow: hidden;
}

.smallImage:hover {
  transform: scale(1.1);
}

p {
  margin-top: 1rem;
}

.validation-fail {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem #ea8b94;
}

.validation-pass {
  border-color: #008500;
  box-shadow: 0 0 0 0.2rem #00CC00;
}

.red {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem #ea8b94;
}


form {
  min-width: 30%;
  margin-top: 50px;
}