@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

* {
    margin: 0;
    padding:0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    padding-top: 50px;
    max-width:1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.halfOpacity {
    opacity: 0.5;
}

.photo {
    position: relative;
}

.arrow {
    width:40px;
    height:40px;
    border-radius: 20px;
    position: absolute;
    margin-top: 200px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    background-color: #ddd;
}
.arrow:hover {
    opacity: 0.5;
}
#arrow-left {
    margin-left: 30px;
}
#arrow-right {
    margin-left: 380px;
}

#big {
    display: block;
    height:450px;
    width:450px;
    background-position-x: center;
    background-size: cover;
}
.small {
    width:450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.small .chair {
    display: block;
    background-size: cover;
    background-color: blue;
    height: 150px;
    width:150px;
    box-sizing: border-box;
    opacity: 0.5;
}

.small .chair:hover {
    opacity: 0.75;
}

.small > .active {
    opacity: 1;
}

.description {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3, h2 {
    color: #212121;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}
#chair-description {
    color: #212121;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    transform: scaleY(1.0005);
    margin-bottom: 10px;
}
#cost {
    color: #212121;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 48px;
    /* Приближение из-за подстановки шрифтов */
}
#buy {
    background-color: #f44336;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 300px;
    height: 71px;
    color: #ffffff;
    font-size: 21.99px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    line-height: 71px;
    background-image: none;
    margin-top: 15px;
    margin-bottom: 20px;
}
#buy:hover {
    background-color: #ff3336;
}

.basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid #000;
}
.productsCost {
    width: 450px;
    height: 250px;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#total-sum {
    width:200px;
    height:40px;
    margin-right: 30px;
    color: #212121;
    font-size: 25px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}

.oneChair {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.number {
    width:40px;
    height:40px;
    color: #212121;
    font-size: 25px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}
.product {
    width:150px;
    height:40px;
    color: #212121;
    font-size: 25px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}
.sum {
    width:130px;
    height:40px;
    color: #212121;
    font-size: 25px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}

.cart {
    position: fixed;
    width: 400px;
    min-height: 200px;
    top: 100px;
    left: 50% - 200px;
    border: 1px solid black;
    background: #ddd;
    border-radius: 10px;
    padding: 30px 20px;  
    display: none;
}

.cart > h3 {
    float: right;
}

.displayMe {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#cartIcon {
    position: fixed;
    top: 30px;
    right: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url("../images/cart.png") 50% 50%;
    background-size: contain;
    opacity: 0.7;
    display: block;
}

#cartIcon:hover {
    opacity: 1;
}

#goodsCount {
    position: fixed;
    right: 50px;
    top: 60px;
    width: 20px;
    height: 20px;
    background-color: orangered;
    border-radius: 50%;
    color: white;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}

.icon {
    width: 20px;
    height: 20px;
    background: url(../images/plus_minus.png) 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
}

.increase {
    background-position-y: 3px;
}
.decrease {
    background-position-y: -17px;
}